<div style="font-size: 9pt;">
	<p><%= @student.name %>同学：</p>
	
	<p>你好！</p>
	
	<p>你填写的《青年岗位见习行动暨世博志愿者职业发展服务 申请表》已提交成功，我们的客服人员会尽快与你联系，为你推荐合适的岗位。</p>
	
	<p>本次行动为团市委发起的公益活动，从2010年10月至2013年12月，在此期间，你可以享受以下服务：</p>
	<ol>
		<li style="margin: 10px 0;">
			从2010年10月至2013年12月，持续获得推荐见习/实习的工作岗位的机会；
		</li>
		<li style="margin: 10px 0;">
			定期收到“正在招聘”的岗位列表的邮件；
		</li>
		<li style="margin: 10px 0;">
			在同等条件下，满足见习意向岗位的优先推荐机会；
		</li>
		<li style="margin: 10px 0;">
			满足条件的其他见习岗位推荐机会；
		</li>
		<li style="margin: 10px 0;">
			通过客服电话，确认为你推荐的工作岗位的内容和要求；
		</li>
		<li style="margin: 10px 0;">
			通过客服电话，修改申请表信息，增改见习意愿。
		</li>
	</ol>
	
	<br />
	<br />
	
	<% phone = '<span style="color: #ff6600; font-weight: bold;">021-60517706</span>' %>
	<p style="font-weight: bold;">以下内容请特别关注，Ta们或许可以解决你心中的疑问：</p>
	<ul>
		<li style="margin: 10px 0;">
			<b>通过以下渠道获得岗位招聘信息：</b>
			<ul>
				<li>
					<span style="color: #ff6600; font-weight: bold;">
						官方网站： http://jx.51cy.sh.cn
					</span>
					<ul>
						<li>
							每天更新的招聘公司和岗位的总列表及详细信息；
						</li>
					</ul>
				</li>
				<li>
					<span style="color: #ff6600; font-weight: bold;">
						每周关注：乔布堂实习生招聘圈子： http://www.qiaobutang.com/groups/4
					</span>
					<ul>
						<li>
							在圈子活动中你可以找到正在招聘的企业和岗位信息；
						</li>
						<li>
							每周置顶贴中，有近期正在招聘的岗位列表；
						</li>
					</ul>
				</li>
				<li>
					<span style="color: #ff6600; font-weight: bold;">
						@乔布堂实习生招聘行动 新浪微博： http://weibo.com/iamqiaobutang
					</span>
					<ul>
						<li>
							最新招聘岗位信息；
						</li>
					</ul>
				</li>
			</ul>
		</li>
		
		<li style="margin: 10px 0;">
			<b>每个人可以获得几次被推荐的机会？</b>
			<ol>
				次数不限。我们的<b>推荐原则</b>是：
				<li>填写申请表，并确定接受服务的同学；</li>
				<li>优先推荐明确选择见习意向，并符合公司要求的同学；</li>
				<li>符合公司要求，并有良好记录（接受面试并准时参加面试的同学）的同学。</li>
			</ol>
		</li>
		
		<li style="margin: 10px 0;">
			<b>尽快找到匹配岗位的方法：</b>
			<ul>
				<li>定期更新你的申请表内容，尤其是技能和经历；</li>
				<li>每次针对岗位要求发送最新简历；</li>
				<li>确定你可以实习的期限和每周工作的时间（不包括周末）；</li>
				<li>详细的列举你希望去的岗位，和肯定不去的岗位。</li>
			</ul>
		</li>
		
		<li style="margin: 10px 0;">
			<b>增改申请表中的信息，或增改意向岗位：</b>
			<ul>
				<li>服务邮箱： student@qiaobutang.com</li>
				<li>服务电话： <%= phone %></li>
			</ul>
		</li>
		
		<li style="margin: 10px 0;">
			<b>如何写简历？什么简历可以通过HR筛选：</b>
			<ul>
				<li>可参考简历圈： http://www.qiaobutang.com/groups/3</li>
				<li>下载简历模板： http://www.qiaobutang.com/group/posts/367</li>
			</ul>
		</li>
		
		<li style="margin: 10px 0;">
			<b>实习中遇到问题：</b>
			<ul>
				<li>专家解答-乔布问答：http://ask.qiaobutang.com</li>
			</ul>
		</li>
		
		<li style="margin: 10px 0;">
			<b>对本次活动吐槽或建议：</b>
			<ul>
				<li>青年岗位见习行动-乔布圈： http://www.qiaobutang.com/groups/4</li>
				<li>服务邮箱： student@qiaobutang.com</li>
				<li>服务电话： <%= phone %></li>
			</ul>
		</li>
		
		<li style="margin: 10px 0;">
			<b>本邮件由系统自动发送，请勿直接回复。若不再需要我们推荐工作岗位的服务，请发送邮件至 student@qiaobutang.com ,并在邮件标题注明：停止见习服务-姓名</b>
		</li>
	</ul>
	
	<br />
	<p>感谢你对我们服务的支持！</p>
	
	<br />
	<br />
	<br />
	<p style="font-size: 10.5pt; font-weight: bold;">青年岗位见习行动</p>
	<p>授权服务单位： 乔布堂</p>
	<p>官方网站： http://jx.51cy.sh.cn</p>
	<p>岗位见习行动申请表： http://jx.qiaobutang.com/r</p>
</div>
