<% talent_page_title("通知") %>


<h2>通知</h2>


<div style="padding: 5px 20px;">
	<% unless @notices.size > 0 %>
		<div class="info_with_icon">
			没有近期收到的通知
		</div>
	<% else %>
		<%
			unread_ids = []
			
			current_group_date = nil
		%>
		<% @notices.each do |notice| %>
			<%
				unread_ids << notice.id if notice.unread
				
				notice_date = format_date(notice.updated_at)
				if notice_date != current_group_date
					current_group_date = notice_date
			%>
					<div class="notice_date"><%= notice_date %></div>
				<% end %>
				
			<%= render :partial => "notice", :object => notice %>
		<% end %>

		<%= paging_buttons(@notices) %>
		
		
		<%
			if unread_ids.size > 0
				updated_count = Notice.update_all(
					["unread = ?", false],
					["id in (?)", unread_ids]
				)
			end
		%>
	<% end %>
</div>
