<%
	corporation_name = h(@corporation.get_name)
	
	talent_page_title(corporation_name)
%>


<h2 class="page_title"><%= corporation_name %></h2>

<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
	<tr>
		<td valign="top" style="padding-right: 20px;">
			
		</td>
		
		<td valign="top" style="width: 180px;">
			<%=
				render(
					:partial => "/notifications/account_summary",
					:locals => {
						:account_type_name => "corporations",
						:account_id => @corporation.id
					}
				)
			%>
		</td>
	</tr>
</table>
