<% talent_page_title("导入学生数据") %>


<h2 class="page_title">导入学生数据</h2>

<%= render :partial => "new_nav", :locals => {:current_link => "import"} %>

<div id="students_import">
	<textarea id="students" name="students" class="text_field"></textarea>
	<br />
	<a href="#" id="begin_import" class="button">开始导入</a>
</div>



<% content_for :scripts do %>
	<script src="/javascripts/teachers/import.js" type="text/javascript"></script>
<% end %>
