<tr onmouseover="this.style.backgroundColor='#F8F8F8';" onmouseout="this.style.backgroundColor='#FFFFFF';">
	<td>
		<%= ResumeDomain.find(resume_domain)[:name] %>
	</td>
	
	
	<td>
		<% resume = resumes[resume_domain] %>
		<% if resume %>
			<% if resume.published %>
				<font color="green">已发布</font>
			<% else %>
				<font color="yellow">未发布</font>
			<% end %>
		<% else %>
			<font color="red">未添加</font>
		<% end %>
	</td>
	
	
	<td align="right">
		<% if resume %>
			<a href="#" title="删除" class="none" onclick="del_resume(); return false;">
				<img src="/images/teachers/delete_icon.gif" border="0" alt="删除" />
				删除</a>
		<% end %>
	</td>
	
	
	<td align="right">
		<% if resume %>
			<a href="#" title="编辑简历" class="none">
				<img src="/images/students/edit_icon.gif" border="0" alt="编辑简历" />
				编辑</a>
		<% else %>
			<a href="#" title="添加简历" class="none">
				<img src="/images/students/add_icon.gif" border="0" alt="添加简历" />
				添加</a>
		<% end %>
	</td>
	
	
	<td>
		
	</td>
</tr>
