<% talent_page_title("管理简历") %>


<h2>管理简历</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div>
	<table border="0" cellspacing="0" cellpadding="10" class="main_part_w" style="font-size: 14px;">
		<thead>
			<tr>
				<td style="width: 150px;">求职方向</td>
				<td style="width: 80px;">状态</td>
				<td style="width: 50px;"></td>
				<td style="width: 60px;"></td>
				<td></td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "/students/resume_domain", :collection => @domains, :locals => {:resumes => @resumes} %>
		</tbody>
	</table>
</div>
