<% talent_page_title("学生") %>


<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
	<tr>
		<td valign="top" style="padding-right: 20px;">
			<h1>
				<%= h(@student.name) %>

				<span style="font-size: 14px; margin-left: 15px;">
					欢迎使用人才库系统
				</span>
			</h1>
		</td>
		
		<td valign="top" style="width: 180px;">
			<%=
				render(
					:partial => "/notifications/account_summary",
					:locals => {
						:account_type_name => "students",
						:account_id => @student.id
					}
				)
			%>
		</td>
	</tr>
</table>
