<%
	student_name = h(@student.name)
	
	talent_page_title("学生")
%>


<h2 class="page_title"><%= student_name %></h2>

<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
	<tr>
		<td valign="top" style="padding-right: 20px;">
			
		</td>
		
		<td valign="top" style="width: 180px;">
			<%=
				render(
					:partial => "/notifications/account_summary",
					:locals => {
						:account_type_name => "students",
						:account_id => @student.id
					}
				)
			%>
		</td>
	</tr>
</table>
