<div class="horizontal_nav">
	<%
		[
			["querying_corp", "企业统计"],
			
			["querying_domain", "求职方向统计"],
			["tag", "经历标签统计"]
		].each do |part|
	%>
		<a href="/teachers/<%= @teacher.id %>/statistics/<%= part[0] %>"<%= %Q! class="selected_link"! if part[0] == action_name %>>
			<%= part[1] %></a>
	<% end %>
</div>
