<% talent_page_title("时段统计") %>


<h2>时段统计</h2>

<% form_tag "", :method => :get, :id => "counts_form" do %>
	<input type="hidden" id="view" name="view" value="<%= h(@view) %>" />
	<input type="hidden" id="period" name="period" value="<%= h(@period) %>" />
<% end %>

<div>
	<%= render(
		:partial => "ofc",
		:locals => {
			:chart_id => "counts_chart",
			:height => 260,
			:data => @chart_data
		}
	) %>
</div>
