<% talent_page_title("最近企业查询") %>


<h2>最近企业查询</h2>

<%= render :partial => "recent_nav" %>

<%= render :partial => "queries_grid", :locals => {:records => @corp_queries} %>


<script src="/lib/jquery/jquery.min.js" type="text/javascript" language="JavaScript"></script>
<script language="JavaScript">
	$(document).ready(
		function() {
			$(".operation_link").unbind("click").click(
				function() {
					$(this).parent().find("ul.dropdown_sub_menu").slideDown("fast").show();

					$(this).parent().hover(
						function() {
						},
						function() {
							$(this).parent().find("ul.dropdown_sub_menu").slideUp("slow");
						}
					);

					return false;
				}
			);
			
			
			$("a.query_keyword").unbind("click").click(
				function() {
					$(this).siblings("form").submit();
					
					return false;
				}
			);
		}
	);
</script>
