<% talent_page_title("简历查看统计") %>


<h2>简历查看统计</h2>

<% form_tag "", :method => :get, :id => "refresh_form" do %>
	<input type="hidden" id="period" name="period" value="<%= h(@period) %>" />
	<input type="hidden" id="corp" name="corp" value="<%= @corp.id if @corp %>" />
<% end %>

<div>
	
</div>
