<% talent_page_title("最近企业查询") %>


<h2 class="page_title">最近企业查询</h2>

<%= render :partial => "recent_nav" %>

<%= render :partial => "resumes_grid", :locals => {:records => @viewed_resumes} %>


<% content_for :scripts do %>
	<script language="JavaScript">
		$(document).ready(
			function() {
				APP.setup_dropdown_menu(".operation_link", 120);
			}
		);
	</script>
<% end %>
