.resume_wrap {
	width: 700px;
	margin-left: 15px;
}

.resume {
	line-height: 1.5;
	font-size: 13px;
	border: 1px dashed #EAEAEA;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 5px;
}

.resume_name {
	margin: 0px 10px;
}

.resume_photo {
	margin: 12px 15px 0px;
}

.resume_info_container {
	margin-right: 120px;
}

.resume_info_row {
	margin: 0px 10px;
}

.resume_info {
	margin-right: 20px;
}

.resume_exp_period, .edu_exp_period {
	width: 135px;
}

.resume_section_title {
	margin: 5px;
	padding: 3px 5px 2px;
	background-color: #EEEEEE;
	font-size: 14px;
}

.resume_section {
	padding: 1px 20px 1px 25px;
}

.resume_exp_section {
	margin: 3px 0px;
}

.resume_exp_title, .resume_exp_sub_title {
	font-weight: bold;
}

.resume_exp_title {
	margin: 0px 0px 2px 8px;
}

.resume ul {
	margin: 0px;
	padding: 0px;
}


.resume_exp_tags_bar {
	font-size: 14px;
	margin: 0px 40px 10px 20px;
}

.resume_exp_tags_bar span {
	margin: 0px 6px;
	padding-left: 16px;
	background: transparent url(/images/students/tag_icon.gif) no-repeat scroll left center;
}


.resume_revision {
	margin-bottom: 10px;
	padding: 5px 10px 8px 0px;
	border-bottom: 1px solid #DEDEDE;
}

.resume_revision .resume_revision_head {
	padding-left: 15px;
}

.resume_revision_unapplied .resume_revision_head {
	font-weight: bold;
	background: transparent url(/images/revise_resumes/unapplied_icon.gif) no-repeat scroll left center;
}

.resume_revision ins {
	color: #CD0A0A;
}

.resume_revision del {
	color: #888888;
}

.resume_revision .datetime, .resume_comment .datetime {
	font-size: 10px;
	font-weight: normal;
	margin: 0px 10px;
}

.resume_revision .target_part_title {
	padding: 0px 20px;
}

.resume_revision_content {
	margin: 10px 0px;
	padding: 10px;
}

.resume_revision_actions {
	margin: 0px 5px;
}


.resume_comment {
	margin-bottom: 10px;
	padding: 5px 23px;
	background: transparent url(/images/revise_resumes/comment_icon.gif) no-repeat scroll left 8px;
	border-bottom: 1px solid #DEDEDE;
}

.resume_comment .resume_revision_head {
	font-weight: bold;
}

.resume_comment_content {
	margin: 10px 0px;
	padding: 10px 20px;
}

.resume_comment a.delete_comment_link, .resume_comment a.edit_comment_link {
	margin-right: 10px;
	font-weight: normal;
}


.resume_revision a, .resume_comment a {
	text-decoration: none;
}

.resume_revision a:hover, .resume_comment a:hover {
	text-decoration: underline;
}


.resume_revision_pop, .resume_comment_pop, .resume_overall_comment_pop {
	position: absolute;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}

.resume_revision_pop {
	width: 30px;
	height: 30px;
	background: transparent url(/images/revise_resumes/revision_pop.png) no-repeat scroll left top;
	
	margin-top: -12px;
	margin-left: -33px;
	
	padding-top: 6px;
	padding-left: 1px;
	
	color: #FFFFFF;
}

.resume_comment_pop {
	width: 32px;
	height: 32px;
	background: transparent url(/images/revise_resumes/comment_pop.png) no-repeat scroll left top;
	
	margin-top: -12px;
	
	padding-top: 4px;
	padding-left: 1px;
}

.resume_overall_comment_pop {
	width: 48px;
	height: 48px;
	background: transparent url(/images/revise_resumes/overall_comment_pop.gif) no-repeat scroll left top;
	
	margin-top: -20px;
	margin-left: 680px;
	
	padding-top: 12px;
	padding-left: 1px;
	
	cursor: pointer;
}


.resume_revision ul {
	margin: 0px;
	padding: 0px;
}


.info .ui-widget-content {
	color: #AAAAAA;
}
