body {
	font-family: Arial,Helvetica,sans-serif;

	/* font-size: 90%; */
	font-size: 12px;

	line-height: 150%;

	margin: 0px;
	padding: 0px;
}

a {
	color: #3B5998;
}

h2 {
	font-size: 18px;
}

img.vertical_middle {
	margin-bottom: 4px;
	vertical-align: middle;
}

form {
	margin: 0px;
	padding: 0px;
}


.pagination {
	text-align: center;
	padding: .3em;
}
.pagination a, .pagination span {
	padding: .2em .5em; 
}
.pagination span.disabled {
	color: #AAA; 
}
.pagination span.current {
	font-weight: bold;
	color: #FF0084;
}
.pagination a {
	border: 1px solid #DDDDDD;
	color: #0063DC;
	text-decoration: none;
}
.pagination a:hover, .pagination a:focus {
	border-color: #003366;
	background: #0063DC;
	color: white;
}
.pagination .page_info {
	color: #aaa;
	padding-top: .8em;
}
.pagination .prev_page, .pagination .next_page {
	border-width: 2px;
}
.pagination .prev_page {
	margin-right: 1em;
}
.pagination .next_page {
	margin-left: 1em;
}


.page_container {
	margin: 0px auto;
	/* max-width: 980px; */
	width: 950px;
}

.main_part_w {
	width: 100%;
}
/* ie6 fixed */
*html .main_part_w {
	width: 98%;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.align_c {
	text-align: center;
}

.align_r {
	text-align: right;
}

.overflow_hidden {
	overflow: hidden;
}

.clear_l {
	clear: left;
}

.clear_r {
	clear: right;
}

.clear {
	clear: both;
}

.text_field {
	border-style: solid;
	border-width: 1px;
	border-color: #A3988C;
	
	background-color: #F8F8F8;
	
	padding: 3px;
}

.text_field:hover {
	border-style: inset;
}

.text_field:active {
	border-style: inset;
	
	border-color: #878787;
	background-color: #FFFFD8;
}

.text_field:focus {
	border-style: inset;
	
	border-color: #878787;
	background-color: #FFFFD8;
}

.button {
	cursor: pointer;
	background-color: #005EAC;
	border-color: #B8D4E8 #124680 #124680 #B8D4E8;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px 10px 2px;
	* padding: 6px 10px 0px;
}

.button:hover {
	border-style: outset;
}

.button:active {
	border-style: inset;
}

select.dropdown_list, .dropdown_list select {
	border-style: solid;
	border-width: 1px;
	border-color: #BDC7D8;
	padding: 1px 2px;
}

.fieldset {
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
}

a.none {
	text-decoration: none;
}

a.none:hover {
	text-decoration: underline;
}


.bottom_line {
	margin-top: 100px;
	margin-bottom: 5px;
	
	text-align: right;
	margin-right: 20px;
	
	color: #B3ABA2;
	
	line-height: 146%;
}

.bottom_line .beianhao {
	margin-left: 5px;
	color: #B3ABA2;
	text-decoration: none;
}

.bottom_line .beianhao:hover {
	text-decoration: underline;
}


.error_msg, .success_msg, .warn_msg {
	background-repeat: no-repeat;
	background-position: 10px 5px;
	background-color: #FFFDC0;
	
	padding: 5px 10px 3px 35px;
}

.error_msg {
	background-image: url(/images/error_icon.gif);
	
	border: 1px dashed red;
	color: red;
}

.success_msg {
	background-image: url(/images/success_icon.gif);
	
	border: 1px dashed green;
	color: green;
}

.warn_msg {
	background-image: url(/images/warn_icon.gif);
	border: 1px dashed #DDDDDD;
	color: #333333;
}


.info, .info_with_icon {
	color: #AAAAAA;
}

.info_with_icon {
	background: transparent url(/images/info_icon.gif) no-repeat scroll left center;
	padding-left: 20px;
}


.student_menu {
	margin-bottom: 25px;
}

.student_sub_menu {
	width: 178px;
	padding: 8px 0px;
	border-bottom: 1px dashed #CCCCCC;
}

.student_sub_menu a {
	display: block;
	text-decoration: none;
	color: #888888;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2;
	padding-left: 36px;
}

.student_sub_menu a .english {
	font-size: 9px;
	font-weight: normal;
}


.horizontal_nav {
	word-spacing: 15px;
}

.horizontal_nav a {
	color: #666699;
}

.horizontal_nav a:hover {
	text-decoration: underline;
}

.horizontal_nav a.selected_link {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
}


.resume_list_section {
	width: 600px;
	margin: 10px;
}

.resume_list_section_title {
	margin: 1px;
	padding: 5px;
	background-color: #F8F8F8;
	font-size: 14px;
}

.resume_list_section_content {
	padding: 5px;
}

.resume_list_section_content ul {
	padding: 0px;
	margin: 0px;
}

.resume_exp_tags {
	width: 110px;
	position: relative;
	font-size: 14px;
	text-align: center;
	border: 1px solid #EAEAEA;
	padding: 5px;
}

.resume_exp_tags a {
	display: block;
	padding: 4px 0px;
}

.resume_exp_order_handle {
	width: 25px;
}

.resume_exp_order_handle img {
	cursor: move;
}

.resume_exp_drag_placeholder {
	padding: 3px;
	border: 2px dashed #CCCCCC;
}


.skill_pool {
	width: 250px;
	height: 400px;
	overflow: auto;
	border: 1px solid #EAEAEA;
}

.skill_pool_sep_line {
	height: 1px;
	border-bottom: 1px dashed #DDDDDD;
	margin: 8px 25px 10px 30px;
}

.selected_skill, .unselected_skill {
	font-size: 13px;
}

.selected_skill {
	margin: 10px;
	padding-left: 22px;
	background: transparent url(/images/students/selected_icon.gif) no-repeat scroll left center;
}

a.unselected_skill {
	display: block;
	margin: 0px 5px 0px 3px;
	padding: 5px 10px;
	text-decoration: none;
}

a.unselected_skill:hover {
	text-decoration: underline;
	background: #F8F8F8 url(/images/students/selected_icon.gif) no-repeat scroll right center;
}


.student_exp {
	margin: 10px;
	padding: 10px;
	border: 1px solid #DDDDDD;
}

.student_exp ul {
	padding: 0px;
	margin: 0px;
}

.student_exp_title {
	font-size: 14px;
	font-weight: bold;
}


.query_tag {
	margin: 0px 8px;
}

.query_skill {
	margin: 0px 10px;
}


.saved_query {
	border: 1px dotted #C2E3EF;
	margin-bottom: 15px;
	overflow: hidden;
}

.saved_query_title {
	margin: 1px;
	padding: 5px 0px 3px;
	background-color: #F0F0F0;
}

.saved_query_title a {
	margin: 0px 5px;
}

.saved_query_conditions {
	padding: 10px 15px;
}

.saved_query_conditions span {
	margin-right: 15px;
}


.corp_resume {
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 25px 0px;
	border-bottom: 1px dashed #CDCDCD;
}

.corp_resume .job_photo {
	border: 1px solid #999999;
	padding: 1px;
}


.blocked_corps {
	margin: 10px 30px;
	width: 500px;
}

.blocked_corps_title {
	font-size: 13px;
	font-weight: bold;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 6px;
	padding: 5px;
}

.blocked_corp {
	margin: 10px 20px;
	font-size: 14px;
}


a.corp_tag, a.corp_tag_selected {
	display: block
	float: left;
	text-decoration: none;
	
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	
	margin: 3px;
	padding: 3px 3px 2px 4px;
	
	white-space: nowrap;
}

a.corp_tag {
	color: #1A1A1A;
	background-color: #E6E6E6;
}

a.corp_tag_selected {
	color: #999999;
	background-color: #F0F0F0;
}

a.corp_tag:hover {
	background-color: #808080;
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	
	color: #FFFFFF;
}
