body {
	font-family: Arial,Helvetica,sans-serif;

	/* font-size: 90%; */
	font-size: 12px;

	line-height: 150%;

	margin: 0px;
	padding: 0px;
}

a {
	color: #3B5998;
}

h2.page_title {
	font-size: 14px;
	padding: 12px 0px 12px 33px;
	background: transparent url(/images/common/page_title_icon.gif) no-repeat scroll left center;
}

img.vertical_middle {
	margin-bottom: 4px;
	vertical-align: middle;
}

form {
	margin: 0px;
	padding: 0px;
}


.pagination {
	text-align: center;
	padding: 0.3em;
	margin-top: 20px;
}
.pagination a, .pagination span {
	padding: 0.3em 0.5em 0.2em;
}
.pagination span.disabled {
	color: #AAAAAA;
}
.pagination span.current {
	font-weight: bold;
	/* color: #A90A08; */
}
.pagination a {
	border: 1px solid #DDDDDD;
	/* color: #0063DC; */
	text-decoration: none;
}
.pagination a:hover, .pagination a:focus {
	border-color: #003366;
	background: #0063DC;
	color: #FFFFFF;
}
.pagination .prev_page, .pagination .next_page {
	border-color: #BBBBBB;
}
.pagination .prev_page {
	margin-right: 1em;
}
.pagination .next_page {
	margin-left: 1em;
}

.mini_pagination {
	text-align: right;
	padding: 0px;
	margin: 0px;
}
.mini_pagination a, .mini_pagination span {
	padding: 3px 3px 2px;
}
.mini_pagination span.disabled {
	display: none;
}
.mini_pagination span.current {
	font-weight: bold;
	padding-left: 1px;
	margin-left: 2px;
	padding-right: 1px;
	margin-right: 2px;
	border-bottom: 2px solid #3B5998;
}
.mini_pagination a {
	color: #3B5998;
	text-decoration: none;
}
.mini_pagination a:hover, .mini_pagination a:focus {
	background-color: #3B5998;
	color: #FFFFFF;
}


.dropdown_menu {
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 9999;
}
.dropdown_menu ul.dropdown_sub_menu {
	display: none;
	list-style: none;
	position: absolute;
	background-color: #F8F8F8;
	border: 1px solid #D0D0D0;
	text-align: left;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 1px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	
	width: 150px;
	max-height: 300px;
	
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}
.dropdown_menu ul.dropdown_sub_menu li {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.dropdown_menu ul.dropdown_sub_menu li a {
	width: 100%;
	display: block;
	margin: 0px;
	padding: 4px 20px 3px;
	text-decoration: none;
	color: #333333;
}
.dropdown_menu ul.dropdown_sub_menu li a:hover {
	background-color: #BECDEE;
}



.page_container {
	margin: 0px auto;
	/* max-width: 980px; */
	width: 950px;
}

.main_part_w {
	width: 100%;
}
/* ie6 fixed */
*html .main_part_w {
	width: 98%;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.align_c {
	text-align: center;
}

.align_r {
	text-align: right;
}

.overflow_hidden {
	overflow: hidden;
}

.clear_l {
	clear: left;
}

.clear_r {
	clear: right;
}

.clear {
	clear: both;
}

.text_field {
	border-style: solid;
	border-width: 1px;
	border-color: #BDC7D8;
	
	background-color: #F8F8F8;
	
	padding: 3px;
}

.text_field:hover {
	border-style: inset;
}

.text_field:active, .text_field:focus {
	border-style: inset;
	
	border-color: #878787;
	background-color: #FFFFD8;
}

.button {
	cursor: pointer;
	background-color: #3B5998;
	border-color: #B8D4E8 #124680 #124680 #B8D4E8;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px 10px 2px;
	* padding: 6px 10px 0px;
}
a.button {
	text-decoration: none;
	padding: 4px 10px 3px;
}
.button:hover {
	border-style: outset;
}
.button:active {
	border-style: inset;
}

select.dropdown_list, .dropdown_list select {
	border: 1px solid #BDC7D8;
	padding: 2px;
}

.fieldset {
	border: 1px solid #CCCCCC;
}

a.none {
	text-decoration: none;
}

a.none:hover {
	text-decoration: underline;
}


.position_fixed {
	position: fixed;
}
/* implement ie6 position fixed */
* html .position_fixed {
	position: absolute;
	bottom: auto;
}
/* fix ie6 lag bug */
* html, * html body {
	background-image: url(about:blank);
	background-attachment: fixed;
}


.bottom_line {
	margin-top: 100px;
	margin-bottom: 5px;
	
	text-align: right;
	margin-right: 20px;
	
	color: #B3ABA2;
	
	line-height: 146%;
}

.bottom_line .link {
	color: #B3ABA2;
	text-decoration: none;
}

.bottom_line .link:hover {
	text-decoration: underline;
}

.bottom_line .sep {
	margin: 0px 5px;
}


.error_msg, .success_msg, .warn_msg {
	background-repeat: no-repeat;
	background-position: 10px 5px;
	background-color: #FFFDC0;
	
	padding: 5px 10px 3px 35px;
}

.error_msg {
	background-image: url(/images/error_icon.gif);
	
	border: 1px dashed red;
	color: red;
}

.success_msg {
	background-image: url(/images/success_icon.gif);
	
	border: 1px dashed green;
	color: green;
}

.warn_msg {
	background-image: url(/images/warn_icon.gif);
	border: 1px dashed #DDDDDD;
	color: #333333;
}


.info, .info_with_icon {
	color: #AAAAAA;
}

.info_with_icon {
	background: transparent url(/images/info_icon.gif) no-repeat scroll left center;
	padding-left: 20px;
}


.menu_banner {
	height: 28px;
	line-height: 28px;
	color: #FFFFFF;
	padding: 0px 30px;
}
.menu_banner a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	padding: 0px 8px;
}
#page_container_of_teachers .menu_banner, #page_container_of_schools .menu_banner {
	background-color: #0259A0;
}
#page_container_of_teachers .menu_banner a:hover, #page_container_of_schools .menu_banner a:hover {
	background-color: #3777BC;
}
#page_container_of_students .menu_banner {
	background-color: #8EC31F;
}
#page_container_of_students .menu_banner a:hover {
	background-color: #A9CF52;
}
#page_container_of_corporations .menu_banner {
	background-color: #67849E;
}
#page_container_of_corporations .menu_banner a:hover {
	background-color: #889BAF;
}
.menu_banner img {
	vertical-align: -2px;
	margin-right: 3px;
}
.menu_banner .dropdown_menu {
	line-height: 1.8;
}


.menu_column {
	float: left;
	width: 165px;
	background-color: #F2F2F2;
	padding: 8px 0px;
}
.menu_column .menu_category {
	padding: 20px 12px;
}
.menu_column .menu_category_title {
	color: #666666;
	padding-left: 40px;
	padding-bottom: 5px;
	margin-bottom: 8px;
	background-repeat: no-repeat;
	background-position: 5px 2px;
	border-bottom: 1px solid #DDDDDD;
}
.menu_column .menu_category a {
	display: block;
	padding: 3px 0px 2px 40px;
	background: transparent url(/images/common/arrow_icon.gif) no-repeat scroll 20px center;
	text-decoration: none;
}
.menu_column .menu_category a:hover {
	text-decoration: none;
	background-color: #BCE2E9;
}

.main_column {
	margin-left: 195px;
}


.horizontal_nav {
	background: transparent url(/images/ui/horizontal_nav_bg.gif) repeat-x scroll 0 0;
	height: 26px;
	margin: 10px 0px 15px;
	padding: 6px 10px;
	position: relative;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.horizontal_nav a {
	text-decoration: none;
	float: left;
	margin-right: 10px;
	height: 26px;
	padding: 0px 8px;
	line-height: 26px;
	font-size: 14px;
	color: #333333;
	
	text-shadow: 1px 1px 1px #FFFFFF;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.horizontal_nav a:hover {
	color: #000000;
	background-color: #CCCCCC;
	
	text-shadow: 1px 1px 1px #EEEEEE;
}
.horizontal_nav a.selected_link {
	background-color: #FFFFFF;
	border:1px solid #CCCCCC;
	border-right-color: #EEEEEE;
	border-bottom-color: #EEEEEE;
	color: #000000;
	font-weight: bold;
	position: relative;
	top:-1px;
}


.vertical_nav {
	border-top: 1px solid #CEE1EE;
}
.vertical_nav a {
	display: block;
	border-bottom: 1px solid #CEE1EE;
	color: #333333;
	text-decoration: none;
	padding: 5px 6px 4px;
}
.vertical_nav a:hover {
	background-color: #EDF3FF;
}
.vertical_nav a.selected_link {
	background-color: #7FA3CB;
	color: #FFFFFF;
	font-weight: bold;
}


.inline_tabs {
	border-bottom: 1px solid #DDDDDD;
	margin: 0px;
	padding: 0px 20px;
}
.inline_tabs a {
	display: inline-block;
	position: relative;
	top: 1px;
	margin: 0px 2px;
	padding: 6px 10px 3px;
	font-size: 14px;
	color: #666666;
	background: #F5F5F5;
	text-decoration: none;
	border: 1px solid #DDDDDD;
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.inline_tabs a:hover {
	
}
.inline_tabs a.selected_tab {
	background: #FFFFFF;
	color: #333333;
	border-bottom: 1px solid #FFFFFF;
}


.resume_list_section {
	width: 600px;
	margin: 10px;
}

.resume_list_section_title {
	margin: 1px;
	padding: 5px;
	background-color: #F8F8F8;
	font-size: 14px;
}

.resume_list_section_content {
	padding: 5px;
}

.resume_list_section_content ul {
	padding: 0px;
	margin: 0px;
}

ul.disc_bullet {
	list-style-type: disc;
}
ul.no_bullet {
	list-style-type: none;
}
.disc_ul_container {
	
}
*html .disc_ul_container {
	padding-left: 15px;
}
*+html .disc_ul_container {
	padding-left: 15px;
}

.resume_exp_tags {
	font-size: 14px;
	text-align: center;
	border: 1px solid #EAEAEA;
	padding: 6px 4px 5px;
}
.resume_exp_tags a {
	display: block;
	padding: 3px 0px;
}
.resume_exp_tags div {
	margin-bottom: 5px;
	padding-bottom: 6px;
	border-bottom: 1px dashed #C2E3EF;
	
	text-shadow: 2px 2px 2px #EEEEEE;
}
.resume_exp_tags.position_fixed {
	top: 15px;
}
/* for ie6 */
* html .resume_exp_tags.position_fixed {
	top: expression(eval(document.documentElement.scrollTop) + 15);
}

.resume_exp_order_handle {
	width: 25px;
}

.resume_exp_order_handle img {
	cursor: move;
}

.resume_exp_drag_placeholder {
	padding: 3px;
	border: 2px dashed #CCCCCC;
}


.skill_pool {
	width: 250px;
	height: 400px;
	overflow: auto;
	border: 1px solid #EAEAEA;
}

.skill_pool_sep_line {
	height: 1px;
	border-bottom: 1px dashed #DDDDDD;
	margin: 8px 25px 10px 30px;
}

.selected_skill, .unselected_skill {
	font-size: 13px;
}

.selected_skill {
	margin: 10px;
	padding-left: 22px;
	background: transparent url(/images/students/selected_icon.gif) no-repeat scroll left center;
}

a.unselected_skill {
	display: block;
	margin: 0px 5px 0px 3px;
	padding: 5px 10px;
	text-decoration: none;
}

a.unselected_skill:hover {
	background: #F1F6F9 url(/images/students/selected_icon.gif) no-repeat scroll right center;
}


.student_exp {
	margin: 10px;
	padding: 10px;
	border: 1px solid #DDDDDD;
}

.student_exp ul {
	padding: 0px;
	margin: 0px;
}

.student_exp_title {
	font-size: 14px;
	font-weight: bold;
}


.query_tag {
	margin: 0px 4px;
	white-space: nowrap;
}

.query_skill {
	display: inline-block;
	margin: 8px 8px 0px;
	white-space: nowrap;
}
.query_skill label {
	margin: 0px 3px;
}


.saved_query {
	border: 1px dotted #C2E3EF;
	margin-bottom: 15px;
	overflow: hidden;
}

.saved_query_title {
	margin: 1px;
	padding: 5px 0px 3px;
	background-color: #F0F0F0;
}

.saved_query_title a {
	margin: 0px 5px;
}

.saved_query_conditions {
	padding: 10px 15px;
}

.saved_query_conditions span {
	margin-right: 15px;
}


.corp_resumes_paging {
	padding: 0px 5px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #BBBBBB;
}


.corp_resume {
	padding: 20px 0px 25px;
	border-bottom: 1px dashed #CDCDCD;
}
.corp_resume .job_photo {
	border: 1px solid #999999;
	padding: 1px;
}
.corp_resume .info_list {
	width: 350px;
}
.corp_resume .info_list dl {
	margin: 0px;
	padding: 0px;
	line-height: 20px;
}
.corp_resume .info_list dt {
	color: #808080;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	text-align: right;
	width: 60px;
}
.corp_resume .info_list dd {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 280px;
}
.corp_resume .info_list .info_title {
	font-size: 14px;
	font-weight: bold;
}
.corp_resume .actions a {
	display: block;
	color: #3B5998;
	text-decoration: none;
	padding: 3px 5px 2px;
	border-bottom: 1px solid #D8DFEA;
}
.corp_resume .actions a:hover {
	background-color: #3B5998;
	color: #FFFFFF;
}


.blocked_corps {
	margin: 10px 30px;
	width: 500px;
}

.blocked_corps_title {
	font-size: 13px;
	font-weight: bold;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 6px;
	padding: 5px;
}

.blocked_corps_search_form {
	background-color: #F8F8F8;
	padding: 12px 15px 8px;
	margin: 30px 0px;
	border: 1px solid #DDDDDD;
}
.blocked_corps_search_form .field {
	margin-right: 25px;
}
.blocked_corps_search_form .field label {
	margin-right: 5px;
}

.blocked_corp {
	margin: 10px 20px;
	font-size: 14px;
}


a.corp_tag, a.corp_tag_selected {
	display: block;
	float: left;
	text-decoration: none;
	
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	
	margin: 3px;
	padding: 3px 3px 2px 4px;
	
	white-space: nowrap;
}
a.corp_tag {
	color: #3E6D8E;
	background-color: #E0EAF1;
}
a.corp_tag_selected {
	color: #999999;
	background-color: #F0F0F0;
}
a.corp_tag:hover {
	background-color: #3E6D8E;
	color: #E0EAF1;
	border-bottom: 1px solid #37607D;
	border-right: 1px solid #37607D;
}


.grid {
	border-collapse: collapse;
}
.grid thead td {
	background: #E5E5E5 none repeat scroll 0 0;
	border: 1px solid #BBBBBB;
	padding: 5px;
	text-align: center;
}
.grid tbody td {
	border: 1px solid #DDDDDD;
	padding: 5px;
}
.grid tbody tr.odd td {
	background-color: #F8F8F8;
}
.grid tbody td.datetime {
	font-size: 10px;
}


a.filter_item_link {
	text-decoration: none;
	font-size: 14px;
	display: block;
	padding: 5px 5px 5px 25px;
	background: transparent url(/images/teachers/filter_icon.gif) no-repeat scroll 5px center;
}
a.filter_item_link:hover {
	color: #FFFFFF;
	background-color: #3B5998;
}


.graph_bar, .graph_legend {
	display: inline;
	float: left;
	position: relative;
	margin-right: 5px;
	height: 12px;
	width: 1px;
	top: 2px;
}

.graph_bar {
	cursor: pointer;
}

.graph_legend {
	height: 9px;
	width: 9px;
	top: 4px;
}

* html .graph_legend {
	font-size: 1px;
	top: 1px;
}


pre.preformatted_content {
	width: 100%;
	margin: 0px;
	line-height: 1.6;
	overflow: hidden;
	
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
pre.preformatted_content a {
	text-decoration: none;
}
pre.preformatted_content a:hover {
	text-decoration: underline;
}


img.notification_icon {
	vertical-align: middle;
	margin-right: 3px;
}


.notice_date {
	font-weight: bold;
	color: #666666;
	padding: 2px 1px;
	margin-top: 10px;
	border-bottom: 1px solid #CDCDCD;
}

.notice {
	padding: 10px 0px 10px 18px;
	border-bottom: 1px dashed #E3EEF8;
	color: #111111;
}
.notice a {
	text-decoration: none;
}
.notice a:hover {
	text-decoration: underline;
}

.unread_notice {
	background: transparent url(/images/notifications/unread_notice.gif) no-repeat scroll left center;
	font-weight: bold;
}

.notice_time {
	float: right;
	font-size: 11px;
	color: #888888;
	margin: 0px 5px;
}


.request {
	padding: 13px 5px 13px 25px;
	border-bottom: 1px solid #DCDCDC;
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left 11px;
}
.request a {
	text-decoration: none;
}
.request a:hover {
	text-decoration: underline;
}

.request_time {
	font-size: 10px;
	color: #999999;
	margin-left: 10px;
}

.request_actions {
	float: right;
	margin-left: 10px;
}
.request_actions button {
	margin-right: 10px;
}


.notification {
	padding: 2px;
}
.notification a {
	text-decoration: none;
}
.notification a:hover {
	text-decoration: underline;
}


.list {
	border-collapse: collapse;
}

.list thead td {
	border-bottom: 1px solid #BBBBBB;
	padding: 6px;
	color: #555555;
}

.list tbody td {
	border-bottom: 1px solid #DDDDDD;
	padding: 6px;
}

.list tbody tr.odd td {
	background-color: #F8F8F8;
}


.permission_field {
	margin: 0px 10px;
}
.permission_field img {
	vertical-align: -3px;
}


.search_form_of_teachers {
	border: 1px solid #395591;
	margin-bottom: 20px;
}
.search_form_of_teachers #toggle_search_form_link {
	display: block;
	padding: 6px 8px 5px;
	float: right;
	background: transparent url(/images/teachers/search/pack_icon.gif) no-repeat scroll center center;
	width: 5px;
	height: 6px;
}
.search_form_of_teachers .quick_form {
	color: #FFFFFF;
	border-bottom: 1px solid #395591;
	padding: 4px 5px 3px 30px;
	background: #0259A0 url(/images/teachers/search/search_icon.png) no-repeat scroll 10px center;
}
.search_form_of_teachers .quick_form input {
	vertical-align: middle;
}
.search_form_of_teachers .quick_form input.text_input {
	border: 1px solid #84ABC6;
	padding: 3px 24px 3px 3px;
	width: 120px;
	height: 14px;
	margin-left: 8px;
}
* html .search_form_of_teachers .quick_form input.text_input {margin-top:-1px;margin-bottom:-1px;}
*+html .search_form_of_teachers .quick_form input.text_input {margin-top:-1px;margin-bottom:-1px;}
.search_form_of_teachers .quick_form input.submit_button {
	background: #B8D4E8 url(/images/common/magnifier_icon.gif) no-repeat scroll left top;
	border: 1px solid #84ABC6;
	height: 22px;
	margin-left: -21px;
	position: relative;
	width: 21px;
}
.search_form_of_teachers #search_form {
	background-color: #F2F2F2;
	padding: 12px 15px 8px;
}
.search_form_of_teachers #search_form .field {
	margin-right: 25px;
}
.search_form_of_teachers #search_form .field label {
	margin-right: 5px;
}


*html .search_result_of_teachers {
	width: 99%;
}
*html .search_result_of_teachers .main_part_w {
	width: 100%;
}

.search_result_of_teachers .result_paging {
	border: 1px solid #395591;
	background-color: #F2F2F2;
	padding: 0px 15px;
	height: 30px;
	line-height: 30px;
}

.search_result_of_teachers .result_grid {
	/* border-collapse: collapse; */
	border-left: 1px solid #395591;
}
.search_result_of_teachers .result_grid thead td {
	color: #FFFFFF;
	background: #0259A0 none repeat scroll 0 0;
	/* border-left: 1px solid #395591; */
	border-right: 1px solid #395591;
	padding: 5px;
	text-align: center;
}
.search_result_of_teachers .result_grid thead td.grey {
	background-color: #888888;
	border-color: #555555;
}
.search_result_of_teachers .result_grid tbody td {
	/* border-left: 1px solid #395591; */
	border-right: 1px solid #395591;
	padding: 5px;
	text-align: center;
}
.search_result_of_teachers .result_grid tbody td.grey {
	border-color: #555555;
}
.search_result_of_teachers .result_grid tbody tr.even td {
	background-color: #F8F8F8;
}
.search_result_of_teachers .result_grid tbody td table td {
	border: 0px none;
	padding: 0px;
}


#query_resume_form {
	border: 1px solid #C2D4ED;
	margin-right: 20px;
}
#query_resume_form #domain_field {
	background-color: #DFE9F7;
	border-bottom: 1px solid #C2D4ED;
	padding: 5px 15px 4px;
}
#query_resume_form #domain_field label {
	margin: 0px 3px;
}
#query_resume_form #domain_field select {
	margin: 0px 3px;
}
#query_resume_form #form_body {
	background-color: #FCFCFC;
	padding: 12px 15px 10px;
}
#query_resume_form #form_body .form_section {
	margin-bottom: 5px;
}
#query_resume_form #form_body .form_section_title {
	padding: 3px 22px 2px;
	background: transparent url(/images/corporations/collapse_icon.gif) no-repeat scroll left center;
}
#query_resume_form #form_body .form_section_body {
	padding: 3px 22px;
}
#query_resume_form #form_body .form_section_body .field_row {
	padding: 5px 0px;
}
#query_resume_form #form_body .field {
	margin-right: 25px;
}
#query_resume_form #form_body .field label {
	margin-right: 5px;
}


.resume_revision_history_count {
	float: left;
	width: 60px;
	color: #333333;
}
.resume_revision_history_times {
	margin-left: 80px;
	word-spacing: 10px;
	color: #333333;
}


.intern_wishes_title {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 8px;
	padding: 5px 5px 12px;
}
.intern_wishes_title select, .intern_wishes_title a {
	font-size: 12px;
	font-weight: normal;
	margin-right: 10px;
}


.job_form_title_section {
	text-align: center;
	padding: 10px 0px 8px;
	background-color: #F2F2F2;
}


#match_job_form {
	border: 1px solid #C2DDED;
	margin-right: 20px;
}
#match_job_form #form_body {
	background-color: #FCFCFC;
	padding: 12px 15px 8px;
}
#match_job_form #form_body .form_section {
	margin-bottom: 5px;
}
#match_job_form #form_body .form_section_title {
	margin-right: 20px;
	padding: 3px 22px 2px;
	background: transparent url(/images/corporations/collapse_icon.gif) no-repeat scroll left center;
}
#match_job_form #form_body .form_section_body {
	padding: 3px 22px;
}
#match_job_form #form_body .form_section_body .field_row {
	padding: 5px 0px;
}
#match_job_form #form_body .field {
	margin-right: 25px;
}
#match_job_form #form_body .field label {
	color: #666666;
	margin-right: 5px;
}


.matched_student .student_name {
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
	color: #000000;
}
.matched_student .profile,
.matched_student .intern_profile,
.matched_student .intern_wish {
	color: #666666;
	margin-top: 5px;
}
.matched_student .intern_profile {
	padding-top: 10px;
}
.matched_student .intern_wish {
	padding-top: 8px;
	width: 100px;
}
.matched_student .intern_wish .matched_wish {
	margin: 5px;
	padding-left: 20px;
	background: transparent url(/images/teachers/yes_icon.gif) no-repeat scroll left 2px;
}
.matched_student .intern_wish .no_matched_wish {
	padding-top: 30px;
	color: #BBBBBB;
}
.matched_student .intern_status {
	margin-top: 5px;
	text-align: center;
}
.matched_student .intern_status .calling_mark {
	margin: 6px 0px;
	font-weight: bold;
	color: #EE0000;
}
.matched_student .intern_status .intern_log {
	color: #999999;
}
.matched_student .actions {
	width: 100px;
}
.matched_student .actions a, .matched_student .actions div {
	display: block;
	text-decoration: none;
	padding: 4px 5px 2px;
	border-bottom: 1px solid #DDDDDD;
}
.matched_student .actions a:hover {
	background-color: #3B5998;
	color: #FFFFFF;
}
.matched_students_more {
	margin-top: 20px;
	background-color: #F8F8F8;
	border: 1px solid #DCDCDC;
	text-align: center;
	font-size: 14px;
	line-height: 36px;
}
.matched_students_more a {
	display: block;
	font-weight: bold;
	text-decoration: none;
}
.matched_students_more a:hover {
	background-color: #F0F5F8;
}
.matched_students_more span {
	display: none;
	color: #888888;
	padding-left: 20px;
	background: transparent url(/images/loading_icon.gif) no-repeat scroll left center;
}


.ui-autocomplete-loading {
	background: transparent url(/images/loading_icon.gif) no-repeat scroll right center;
}
