<%
	titles = counts.titles
	
	cells = Proc.new { |keys|
		ids = keys.map { |key| %Q!'#{key}'! }.join(", ")
		%Q!
			<td style="color: #aaaaaa; word-spacing: 5px;">
				<a href="#" onclick="toggle_cells([#{ids}], true); return false;" class="none">全选</a>
				<a href="#" onclick="toggle_cells([#{ids}], false); return false;" class="none">不选</a>
				»
			</td>
		! +
		keys.map { |key|
			%Q!
				<td>
					<label for="#{key}">#{titles[key]}</label>
					#{check_box_tag key, value = "true", counts.send(key)}
				</td>
			!
		}.join
	}
%>

<% form_tag "", :method => :get do %>
	<table border="0" cellspacing="10" cellpadding="0">
		<tr>
			<%= cells.call([:aii, :rii, :irp, :irf, :irm]) %>
		</tr>
		<tr>
			<%= cells.call([:ie, :il, :if]) %>
			<td>
				
			</td>
			<td>
				<input type="submit" value="更新列表" class="button" />
			</td>
		</tr>
	</table>
	<% content_for :scripts do %>
		<script type="text/javascript">
			function toggle_cells(cell_ids, selected) {
				$.each(
					cell_ids,
					function(i, cell_id) {
						var checkbox = $("#" + cell_id);
						if(checkbox.length > 0) {
							checkbox.get(0).checked = selected;
						}
					}
				);
			}
		</script>
	<% end %>
<% end %>
