<% talent_page_title("") %>


<div class="align_c" style="margin-top: 60px;">
	
	<div style="margin-bottom: 80px;">
		<a href="/" title="<%= @school.logo_title %>">
			<img src="<%= @school.logo %>" border="0" alt="<%= @school.logo_title %>" /></a>
	</div>
	
	<div style="width: 950px; height: 304px; background: transparent url(/images/index/background.jpg) no-repeat scroll bottom center; overflow: hidden;">
		<a href="/index/student" title="学生登录">
			<img src="/images/index/student.png" border="0" alt="学生登录" style="margin: 0px 25px;" /></a>
			
		<a href="/index/school/teacher" title="学校登录">
			<img src="/images/index/school.png" border="0" alt="学校登录" style="margin: 0px 25px;" /></a>
				
		<a href="/index/corporation" title="企业登录">
			<img src="/images/index/corporation.png" border="0" alt="企业登录" style="margin: 0px 25px;" /></a>
	</div>

</div>
