<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-5887424-5");
		pageTracker._trackPageview();
	} catch(err) {}
</script>



<script type="text/javascript" src="http://js.tongji.linezing.com/463753/tongji.js"></script>
<noscript>
	<a href="http://www.linezing.com">
		<img src="http://img.tongji.linezing.com/463753/tongji.gif"/></a>
</noscript>
