<%
	account_name = requester_name = nil
	if sent
		account_type = AccountType.find(request.account_type_id)
		account_name = h(accounts[account_type[:name]][request.account_id].get_name) +
						"(#{account_type[:label]})"
	else
		requester_type = AccountType.find(request.requester_type_id)
		requester_name = h(accounts[requester_type[:name]][request.requester_id].get_name) +
						"(#{requester_type[:label]})"
	end
%>

<div>
	<%= requester_name %>请求<%= account_name %>帮助修改<%= request.get_data[:resume] %>
</div>
