<% if teacher %>
	<img src="/images/teachers/calling_icon.png" border="0" alt="通话中" title="通话中" class="float_l" style="margin-right: 15px;" />
	<div>
		正与
		<% if @teacher.id == teacher.id %>
			自己
		<% else %>
			老师
			<%= h(teacher.get_name) %>
		<% end %>
		通话中
	</div>
	
	<% if @teacher.id == teacher.id %>
		<div>
			<a href="#" class="none clear_calling_mark_link">清除通话标记</a>
		</div>
	<% end %>
<% else %>
	<a href="#" class="none mark_calling_link">设置通话标记</a>
<% end %>
