<%
	accounts ||= {}
	sent &&= true
	
	type = Request::Type.find(request.type_id)
%>

<div class="request">
	<%=
		render(
			:partial => "/requests/types/#{type[:name]}",
			:locals => {
				:request => request,
				:type => type,
				:accounts => accounts,
				:sent => sent
			}
		)
	%>
	
	<div class="request_actions clear_r">
		<span class="request_time"><%= format_datetime(request.updated_at) %></span>
		
		<a href="#"><%= sent ? "删除这个请求" : "忽略这个请求" %></a>
	</div>
</div>
