<div class="bottom_line">
	<%= @school.name %>
	<span class="sep">|</span>
	Powered by <a href="http://www.qiaobutang.com" title="乔布堂" target="_blank" class="link">乔布堂</a>
	<span class="sep">|</span>
	<a href="http://www.qiaobutang.com/custom_groups/feedback/show/34" target="_blank" class="link">反馈与建议</a>
	<span class="sep">|</span>
	Copyright © 2008－<%= Time.now.year %> <%= request.host %>.
</div>
