<% talent_page_title("经历库") %>


<h2 class="page_title">经历库</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div class="align_r" style="margin-right: 30px;">
	<a href="/students/<%= @student.id %>/exps/new" class="button">
		添加经历</a>
</div>

<div>
	<% form_tag "", :method => :delete, :id => "del_exp_form" do %>
	<% end %>
	<script language="JavaScript">
		function del_exp(exp_id, exp_period) {
			if(confirm("确定要删除 " + exp_period + " 的经历么 ?")) {
				var del_form = document.getElementById("del_exp_form");
				del_form.action = "/students/<%= @student.id %>/exps/" + exp_id;
				del_form.submit();
			}
		}
	</script>
	
	<div style="width: 600px;">
		<%= render :partial => "exp", :collection => @exps %>
	</div>
</div>
