<tr onmouseover="this.style.backgroundColor='#F8F8F8';" onmouseout="this.style.backgroundColor='#FFFFFF';">
	<% student_number = h(student.number) %>
	
	<td>
		<%= student_number %>
	</td>
	
	<td>
		
	</td>
</tr>
