<% talent_page_title("管理学生") %>


<h2>管理学生</h2>


<% if flash[:success_msg] %>
	<p class="success_msg">
	    <%= flash[:success_msg] %>
	</p>
<% end %>

<div>
	<table border="0" cellspacing="0" cellpadding="10" class="main_part_w">
		<thead>
			<tr>
				<td style="width: 200px;">学号</td>
				<td></td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "/teachers/student", :collection => @students %>
		</tbody>
	</table>
</div>
