<% talent_page_title("添加教育经历") %>


<h2>添加教育经历</h2>

<% if flash[:error_msg] %>
	<p class="error_msg">
	    <%= flash[:error_msg] %>
	</p>
<% end %>
<% if @exp.errors.size > 0 %>
	<p class="error_msg">
		<%= list_model_validate_errors(@exp) %>
	</p>
<% end %>

<% form_tag "/students/#{@student.id}/edu_exps", :method => :post do %>

	<%= render :partial => "exp_form", :locals => {:submit_label => "添加"} %>
	
<% end %>
