<div id="admin_field_<%= teacher.id %>">
	<a href="#" title="调整管理企业的权限" class="none operation_link">
		<% if teacher.admin %>
			<img src="/images/teachers/green_point.gif" border="0" alt="允许" style="margin-bottom: -2px;" />
			<font color="green">允许管理</font>
		<% else %>
			<img src="/images/teachers/red_point.gif" border="0" alt="禁止" style="margin-bottom: -2px;" />
			<font color="red">禁止管理</font>
		<% end %>
	</a>

	<div class="dropdown_menu" style="font-size: 12px;">
		<ul class="dropdown_sub_menu">
			<% if teacher.admin %>
				<li>
					<a href="#" onclick="inhibit_teacher_admin(<%= teacher.id %>); return false;">
						<img src="/images/teachers/red_point_small.gif" border="0" alt="禁止" />
						禁止管理企业</a>
				</li>
			<% else %>
				<li>
					<a href="#" onclick="allow_teacher_admin(<%= teacher.id %>); return false;">
						<img src="/images/teachers/green_point_small.gif" border="0" alt="允许" />
						允许管理企业</a>
				</li>
			<% end %>
		</ul>
	</div>
</div>
