<div id="revision_field_<%= teacher.id %>">
	<a href="#" title="调整修改简历的权限" class="none operation_link">
		<% if teacher.revision %>
			<img src="/images/teachers/green_point.gif" border="0" alt="允许" style="margin-bottom: -2px;" />
			<font color="green">允许修改</font>
		<% else %>
			<img src="/images/teachers/red_point.gif" border="0" alt="禁止" style="margin-bottom: -2px;" />
			<font color="red">禁止修改</font>
		<% end %>
	</a>

	<div class="dropdown_menu" style="font-size: 12px;">
		<ul class="dropdown_sub_menu">
			<% if teacher.revision %>
				<li>
					<a href="#" onclick="inhibit_teacher(<%= teacher.id %>, 'revision'); return false;">
						<img src="/images/teachers/red_point_small.gif" border="0" alt="禁止" />
						禁止修改简历</a>
				</li>
			<% else %>
				<li>
					<a href="#" onclick="allow_teacher(<%= teacher.id %>, 'revision'); return false;">
						<img src="/images/teachers/green_point_small.gif" border="0" alt="允许" />
						允许修改简历</a>
				</li>
			<% end %>
		</ul>
	</div>
</div>
