<tr<%= %Q! class="odd"! if teacher_counter.even? %>>
	<td>
		<%= h(teacher.uid) %>
		<br />
		<% if teacher.name? %>
			<%= h(teacher.name) %>
		<% else %>
			&nbsp;
		<% end %>
	</td>
	
	
	<td>
		<%
			["resume", "revision", "statistic", "admin"].each do |field|
		%>
			<%= render :partial => "permission_field", :locals => {:teacher => teacher, :field => field} %>
		<% end %>
	</td>
</tr>
	